@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

:root {
  --small: 14px;
  --normal: 17px;
  --heading: 21.5px;
  --large: 25px;
  --theme-color: rgb(83, 64, 255);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.nav-bar-container {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-bar-logo-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.nav-bar-logo-container a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: -1px;
  color: var(--theme-color);
  font-style: italic;
  font-size: 30px;
}

.nav-bar-container>div {
  height: 100%;
  /* width: 100%; */
}
.nav-bar-logo-container{
  width: 130px;
}
.nav-bar-search-bar-container{
  max-width: 500px;
  width:100%;
  margin:0 15px;
}
.nav-bar-user-logo{
  width:50px;
}

.logo-image {
  height: 100%;
}

.nav-bar-search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-bar-search-bar-container input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 2px solid var(--theme-color);
  outline: none;
  color: #6d6c6c;
  background-color: #F4F4F4;
  padding-left: 28px;
  font-size:15px;
}

.nav-bar-search-bar-container input:focus {
  box-shadow: 0.4px 0.4px 10px -4px black;
}

.nav-bar-links-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-bar-links-list li {
  margin-right: 10px;
}

.nav-bar-links-list li:first-child {
  margin-right: 15px;
}

.nav-bar-links-list li a:active,
.nav-bar-links-list li a:link,
.nav-bar-links-list li a:visited {
  font-size: var(--normal);
  text-decoration: none;
  font-weight: 400;
  color: var(--theme-color)
}

.nav-bar-links-list li a {
  border-radius: 4px;
  padding: 7px 10px;
}

.nav-bar-links-list li:first-child a {
  transition: all 0.5s;
}

.nav-bar-links-list li:first-child a:hover {
  background-color: #ebecf0;
  text-decoration: underline solid var(--theme-color);
}


.nav-bar-links-list li:last-child a {
  color: white;
  background-color: var(--theme-color);
}


/* sign in sign up */
.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
  justify-content: center;
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sign h1 {
  margin: 0;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 350px;
}

.sign-form .email-input {
  margin: 10px 0;
}

.sign-form input {
  max-width: 350px;
  width: 100%;
  height: 35px;
  background-color: #F4F4F4;
  border: 2px solid var(--theme-color);
  border-radius: 4px;
  outline: none;
}

.sign-form input:focus {
  box-shadow: 0.4px 0.4px 10px -4px black;
}

.sign-submit-btn {
  height: 35px;
  background: var(--theme-color);
  color: white;
  font-size: var(--normal);
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 0;
}

.sign-up-link {
  margin-top: 10px;
  font-size: 15px;
}

.sign-up-link a:link,
.sign-up-link a:visited,
.sign-up-link a:hover,
.sign-up-link a:active {
  color: var(--theme-color)
}

.nav-bar-search-bar-container i, .nav-bar-search-bar-container span {
  position: absolute;
  font-size: var(--normal);
  /* background-color: var(--theme-color); */
  color:var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}
.nav-bar-search-bar-container i{
  left: 0px;
  font-size:19px;
}
.nav-bar-search-bar-container span{
  right:0;
  font-size:24px;
  cursor: pointer;
}
.nav-bar-user-logo{
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
}

.credential-error {
  height:10px;
  font-size: 14px;
  color: red;
}

.loading-screen-container{
  height:100vh;
  width: 100vw;
  background-color: transparent;
  z-index: 99;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:var(--theme-color);
  font-weight: 550;
  position:absolute;
  top:0;
  left:0;
  backdrop-filter: blur(2px);
}
.circle-it{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:19px;
  font-weight: 550;
  cursor: pointer;
  transition: all 0.7s;
}
.circle-it:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  border: 3px solid var(--theme-color);
}
.circle-it:hover a{
  color:var(--theme-color);
}
.circle-it a{
  color:white;
  text-decoration: none;
}